<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Tomorrows Lunch</h2>
        <p>
            Aplikacija za smišljanje<br />
            sutrašnje večere.
        </p>
    </div>
    <a href="#three" class="more scrolly">Saznaj više</a>
</section>
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Ideja za sutrašnji ručak u nekoliko koraka</h2>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane-o">
                <h3>Jela</h3>
                <p>Uz standardna jela mogućnost dodavanja i odabira vlastitih jela</p>
            </li>
            <li class="icon fa-laptop">
                <h3>Sastojci</h3>
                <p>Dodavanje novih sastojaka uz jela</p>
            </li>
            <li class="icon fa-code">
                <h3>Recepti</h3>
                <p>Mogućnost čitanja različitih recepata jela i unos recepata u bazu podataka</p>
            </li>
            <li class="icon fa-headphones">
                <h3>Povijest kuhanja</h3>
                <p>Pregled i dodavanje pravljenih jela u kalendar</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>REGISTRACIJA</h2>
            <p>Ukoliko želite isprobati aplikaciju registrirajte se i prijavite</p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special">REGISTRACIJA</a></li>
            <li><a href="#" class="button fit">PRIJAVA</a></li>
        </ul>
    </div>
</section>



