<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Tomorrows Lunch</h2>
        <p>
            Aplikacija za smišljanje<br />
            sutrašnjeg ručka
        </p>
    </div>
    @*@ViewBag.Message*@
    <a href="#three" class="more scrolly">Saznaj više</a>
</section>
<section id="three" class="wrapper style3 special indexpadding">
    <div class="inner">
        <header class="major">
            <h2>Ideja za sutrašnji ručak u nekoliko koraka</h2>
        </header>
        <ul class="features">
            <li class="icon fa-birthday-cake">
                <h3>Jela</h3>
                <p>Mogućnost dodavanja i odabira vlastitih jela te dodavanja recepata uz jela</p>
            </li>
            <li class="icon fa-lemon-o">
                <h3>Sastojci</h3>
                <p>Uz postojeće sastojke mogućnost dodavanja novih sastojaka uz jela</p>
            </li>
            <li class="icon fa-user">
                <h3>Kalorije</h3>
                <p>Izračun vlastitog BMI-a i potrebnog dnevnog unosa kalorija</p>
            </li>
            <li class="icon fa-calendar">
                <h3>Povijest kuhanja</h3>
                <p>Pregled i dodavanje pravljenih jela u kalendar</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
@*<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>REGISTRACIJA</h2>
            <p>Ukoliko želite isprobati aplikaciju registrirajte se i prijavite</p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special">REGISTRACIJA</a></li>
            <li><a href="#" class="button fit">PRIJAVA</a></li>
        </ul>
    </div>
</section>*@



