@model IEnumerable<TomorrowsLunch.Models.Ingredient>
<section class="wrapper style5">
    <div class="inner">
        <section>
            <h4>Jela</h4>
            <div class="row">
                <div class="6u 12u$(medium)">
                    <ul class="alt" id="mealsList">
                        @foreach (var item in Model)
                        {
                            <li>
                                @item.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<script>
        document.getElementById("nav").style.visibility = "inherit";
</script>
