<!-- Main -->
<br />

<article id="main">
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Prijava</h4>
                <form method="post" action="#">
                    <div>
                        <div class="6u 12u$(xsmall)">
                            <input type="email" name="email" id="email" value="" placeholder="Email" />
                        </div>
                        <br />
                        <div class="6u$ 12u$(xsmall)">
                            <input type="password" name="pass" id="pass" value="" placeholder="Lozinka" />
                        </div>
                        <br />
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Prijavi se" class="special" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            <br />
            <br />
            <section>
                <h4>Nemaš račun?</h4>
                <div class="6u 12u$(medium)">
                    <ul class="actions small">
                        <li>@Html.ActionLink("Registriraj se", "Registration", "Home", new { @class = "button small fit" })</li>
                    </ul>
                </div>
                </section>
        </div>
    </section>
</article>
<script>
    $('[name="email"]').on('invalid', function (e) {
        e.target.setCustomValidity("Neispravna email adresa");
    });
</script>