@model IEnumerable<TomorrowsLunch.Models.Meal>
<section class="wrapper style5">
    <div class="inner">
        <section id="createSection">
            @using (Html.BeginForm("Create", "Meal", FormMethod.Post, new { id = "mealCreateForm" }))
            {
                <div id="createFormDiv" style="display:none">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="name" value="" placeholder="Naziv jela" />
                        <br />
                        <h5>Sastojci</h5>
                        <ul>
                            <li><input type="text" name="name" id="name" value="" placeholder="Naziv sastojka" /></li>
                        </ul>
                    </div>
                    <br />
                    <div class="12u$">
                        <ul class="actions">
                            <li><a href="javascript:document.forms['mealCreateForm'].submit()" onclick="return validateForm()" class="button special icon fa-plus">Dodaj jelo</a></li>
                            <li><a onclick="return toggleForm()" class="button special icon fa-arrow-left">Odustani</a></li>
                        </ul>
                    </div>
                </div>
            }
            <div class="12u$" id="buttonDiv">
                <ul class="actions">
                    <li><a onclick="return toggleForm()" class="button special icon fa-plus">Dodaj jelo</a></li>
                </ul>
            </div>
        </section>
        <section>
            <h4>Jela</h4>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Naziv jela</th>
                            <th>Sastojci</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <div class="select-wrapper">
                                        <select>
                                            @foreach (var ingredient in item.Ingredients)
                                            {
                                                <option disabled="disabled">@ingredient.Name</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="button small icon fa-edit">Uredi</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Meal", new { id=item.Id })" class="button small icon fa-remove">Obriši</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
<script>
    document.getElementById("nav").style.visibility = "inherit";

    function validateForm() {
        var x = document.forms["mealCreateForm"]["name"].value;
        var y = document.getElementById("buttonDiv");
        if (x == null || x == "") {
            alert("Naziv jela mora se popuniti");
            return false;
        }
        x.style.display = "none";
        y.style.display = "inherit";
    }
    function toggleForm() {
        var x = document.getElementById("createFormDiv");
        var y = document.getElementById("buttonDiv");
        if (x.style.display == "none") {
            x.style.display = "inherit";
            y.style.display = "none";
        }
        else {
            x.style.display = "none";
            y.style.display = "inherit";
        }
    }
</script>
