@model IEnumerable<TomorrowsLunch.Models.Meal>
<section class="wrapper style5">
    <div class="inner">
        <br />
        <section>
            @using (Html.BeginForm("Create", "Meal", FormMethod.Post, new { id = "mealForm" }))
            {
                <div id="formDiv" style="display:none">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="name" value="" placeholder="Naziv jela" />
                        <br />
                        <input type="text" name="2" id="2" value="" placeholder="bla jela" />
                        <br />
                        <input type="text" name="3" id="3" value="" placeholder="bla jela" />
                    </div>
                    <br />
                    <div class="12u$">
                        <ul class="actions">
                            <li><a href="javascript:document.forms['mealForm'].submit()" onclick="return validateForm()" class="button special icon fa-plus">Dodaj jelo</a></li>
                        </ul>
                    </div>
                </div>
            }
            <div class="12u$" id="buttonDiv">
                <ul class="actions">
                    <li><a onclick="return toggleForm()" class="button special icon fa-plus">Dodaj jelo</a></li>
                </ul>
            </div>
        </section>
        <section>
            <h4>Jela</h4>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Naziv jela</th>
                            <th>Datum kreiranja</th>
                            <th>Sastojci</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.DateCreated</td>
                                <td>Sastojci</td>
                                <td>
                                    <a href="#" class="button small icon fa-edit">Uredi</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Meal", new { id=item.Id })" class="button small icon fa-remove">Obriši</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
<script>
    document.getElementById("nav").style.visibility = "inherit";

    function validateForm() {
        var x = document.forms["mealForm"]["name"].value;
        var y = document.getElementById("buttonDiv");
        if (x == null || x == "") {
            alert("Naziv jela mora se popuniti");
            return false;
        }
        x.style.display = "none";
        y.style.display = "inherit";
    }
    function toggleForm() {
        var x = document.getElementById("formDiv");
        var y = document.getElementById("buttonDiv");
        x.style.display = "inherit";
        y.style.display = "none";
        }
</script>
