<!-- Main -->
<br />

<article id="main">
    <section class="wrapper style5">
        <div class="inner">
            <div style="color:green; font-weight:bold">@ViewBag.RegistrationMessage</div>
            <section>
                <h4>Prijava</h4>

                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id="loginForm"}))
                {
                    <div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="name" id="name" value="" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" placeholder="Ime" />
                        </div>
                        <br />
                        <div class="6u$ 12u$(xsmall)">
                            <input type="password" name="pass" id="pass" value="" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" placeholder="Lozinka" />
                        </div>
                        <br />
                        <div class="12u$">
                            <ul class="actions">
                                <li><a href="javascript:document.forms['loginForm'].submit()" class="button special icon fa-sign-in">Prijavi se</a></li>

                            </ul>
                        </div>
                        <div style="color:red; font-weight:bold">@ViewBag.Message</div>
                    </div>
                }
            </section>
            <br />
            <br />
            <section>
                <h4>Nemaš račun?</h4>
                <div class="6u 12u$(medium)">
                    <ul class="actions small">
                        <li>@Html.ActionLink("Registriraj se", "Registration", new { controller = "User" }, new { @class = "button small fit icon fa-user-plus" })</li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
</article>
<script>
    $('[name="email"]').on('invalid', function (e) {
        e.target.setCustomValidity("Neispravna email adresa");
    });

    function validateForm() {
        var x = document.forms["loginForm"]["name"].value;
        if (x == null || x == "") {
            alert("Ime se mora popuniti");
            return false;
        }
        var z = document.forms["loginForm"]["pass"].value;
        if (z == null || z == "") {
            alert("Lozinka se mora popuniti");
            return false;
        }
    }
</script>