<!-- Main -->
<br />
<article id="main">
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Registracija</h4>
                @using (Html.BeginForm("Registration", "User", FormMethod.Post, new { id = "registrationForm" }))
                {
                    <div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="name" id="name" value="" placeholder="Ime" />
                        </div>
                        <br />
                        <div class="6u 12u$(xsmall)">
                            <input type="email" name="email" id="email" value="" placeholder="Email" />
                        </div>
                        <br />
                        <div class="6u$ 12u$(xsmall)">
                            <input type="password" name="pass" id="pass" value="" placeholder="Lozinka" />
                        </div>
                        <br />
                        <div class="6u$ 12u$(xsmall)">
                            <input type="password" name="confirmpass" id="confirmpass" value="" placeholder="Ponovi lozinku" />
                        </div>
                        <br />
                        <div class="12u$">
                            <ul class="actions">
                                <li><a href="javascript:document.forms['registrationForm'].submit()" onclick="return validateForm()" class="button special icon fa-user-plus">Registriraj se</a></li>
                            </ul>
                        </div>
                        <div style="color:red; font-weight:bold">@ViewBag.Message</div>
                    </div>
                }
            </section>
        </div>
    </section>
</article>
<script>
    $('[name="email"]').on('invalid', function (e) {
        e.target.setCustomValidity("Neispravna email adresa");
    });

    function validateForm() {
        var x = document.forms["registrationForm"]["name"].value;
        if (x == null || x == "") {
            alert("Ime se mora popuniti");
            return false;
        }
        var y = document.forms["registrationForm"]["email"].value;
        if (y == null || y == "") {
            alert("Email se mora popuniti");
            return false;
        }
        var z = document.forms["registrationForm"]["pass"].value;
        if (z == null || z == "") {
            alert("Lozinka se mora popuniti");
            return false;
        }
        var atpos = y.indexOf("@@");
        var dotpos = y.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= y.length) {
            alert("Neispravna email adresa");
            return false;
        }

    }
</script>